{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% set bAction = form.vars.value.action is defined %}

<form method="{{ form.vars.method }}" action="{{ bAction ? form.vars.value.action : form.vars.action }}"
      id="{{ form.vars.id }}" name="{{ form.vars.id }}"
      class="{{ form.vars.formClass is defined ? form.vars.formClass : '' }}">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 form-group" id="formErreurs">
                <div class="formError">{{ form_errors(form) }}</div>
            </div>
            <div class="col-xs-12 form-group">
                {{- form_label(form.children.username) -}}
                {{- form_widget(form.children.username) -}}
                <div class="formError">{{ form_errors(form.children.username) }}</div>
            </div>
            <div class="col-xs-12 form-group">
                {#{{- form_label(form.children.password) -}}#}
                {{- form_widget(form.children.password) -}}
                <div class="formError">{{ form_errors(form.children.password) }}</div>
            </div>
            <div class="col-xs-12 form-group">
                {{- form_label(form.children.name) -}}
                {{- form_widget(form.children.name) -}}
                <div class="formError">{{ form_errors(form.children.name) }}</div>
            </div>
            <div class="col-xs-12 form-group">
                {{- form_label(form.children.prenom) -}}
                {{- form_widget(form.children.prenom) -}}
                <div class="formError">{{ form_errors(form.children.prenom) }}</div>
            </div>
            <div class="col-xs-12 form-group">
                {{- form_label(form.children.email) -}}
                {{- form_widget(form.children.email) -}}
                <div class="formError">{{ form_errors(form.children.email) }}</div>
            </div>
            <div class="col-xs-12 form-group">
                {{- form_label(form.children.dateNaissance) -}}
                {{- form_widget(form.children.dateNaissance) -}}
                <div class="formError">{{ form_errors(form.children.dateNaissance) }}</div>
            </div>
            <div class="col-xs-12 form-group">
                {{- form_widget(form.children.sendForm) -}}
                <div style="display: inline-block; width: 15px"></div>
                {{- form_widget(form.children.btnCancel) -}}
            </div>
            {{ form_rest(form) }}
        </div>
    </div>
</form>